@font-face {
  font-family: "hn_thin";
  src: url("./hn_thin.otf");
}
@font-face {
  font-family: "hn_thin_italic";
  src: url("./hn_thin_italic.otf");
}
@font-face {
  font-family: "hn_roman";
  src: url("./hn_roman.otf");
}
@font-face {
  font-family: "bauhaus";
  src: url("./BAUHS93.TTF");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1{
  color: #eb652d;
  font-weight: bold;
}

i{
  font-family: "hn_thin_italic";
}

.circled{
  font-weight: 700;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  padding: 8px;
  background: rgba(0,0,0,0.6);
  color: #666;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* Base
*/
html, body {
  height: 100%;
}
body {
  color: #fff;
}
em, a{
  color: #eb652d;
}
b{
  font-family: "hn_roman";
}

/**
*  mod-singular
*/
.mod-singular {
  font-family: 'hn_thin';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.mod-singular-section {
  position:relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width:100%;
  width:100%;
  min-height:100%;
}
.mod-singular-section:first-child {
  background: #fff;
}
.mod-singular-section:nth-child(2) {
  background: #FCFCFC;
}
.mod-singular-section:nth-child(3) {
  background: #fff;
}
.mod-singular-section:nth-child(4) {
  background: #FCFCFC;
}
.mod-singular-section:nth-child(5) {
  background: #fff;
}
.mod-singular-section:nth-child(6) {
  background: #FCFCFC;
}
.mod-singular-section:nth-child(7) {
  background: #fff;
}
.mod-singular-section:nth-child(8) {
  background: #FCFCFC;
}
.mod-singular-section-in {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  padding: 5% 0%;
  text-align: center;
}
.mod-singular-ttl {
  font-size: 500%;
  margin-bottom: 10px;
}
.mod-singular-txt {
  line-height: 1.2;
  margin: 1em 0 0.5em 0;
}
.mod-singular-pre {
  background: rgba(0, 0, 0, 0.2);
  line-height: 1.2;
  margin: 1.5em auto;
  padding: 10px;
  text-align: left;
  width: 40%;
}
.mod-singular-options {
  border-top: 1px solid #fff;
  font-size: 90%;
  margin: 1.5em auto;
  overflow: hidden;
  text-align: left;
  width: 60%;
}
.mod-singular-options-name {
  clear: both;
  float: left;
  padding: 1em 0;
  width: 12em;
}
.mod-singular-options-txt {
  border-bottom: 1px solid #fff;
  padding: 1em 0 1em 12.5em;
}
.mod-singular-pager {
  position: absolute;
  padding-top: 15px;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
}
.mod-singular-pager a {
  background: #6c6c6c;
  border-radius: 25px;
  display: inline;
  height: 50px;
  margin: 0 15px;
  text-indent: 100%;
  width: 50px;
  position:relative;
}
.mod-singular-pager a:before {
  border-top: 5px solid #eb652d;
  border-left: 5px solid #eb652d;
  content: "";
  display: inline;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
}
.mod-singular-prev:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -7px 0 0 -10px;
}
.mod-singular-next:before {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: -13px 0 0 -10px;
}

.mod-nav {
  position: fixed;
  right: 30px;
  top: 29.3%
}
.mod-nav-list {}
.mod-nav-item {
  margin: 20px 0;
}
.mod-nav-item a {
  background: #ededed;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  height: 10px;
  width: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.mod-nav-item a:hover,
.mod-nav-item a:focus,
.mod-nav-item.js-singular-active a {
    background: #eb652d;
}

p{
  color: #000000aa;
}

/*custom styles*/
/*first page*/
#sec01 h2, #sec02 h2, #sec03 h2, #sec04 h2, #sec05 h2, #sec06 h2, #sec07 h2, #sec08 h2:first-child{
  text-align: left;
  margin-left: 15%;
  color: #eb652d;
  font-size: 3em;
  font-weight:600;
}

#sec01 h3{
  color: #eb652d;
  margin-top: 20%;
  font-size: 24px;
  font-weight: 600;
}

p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 300;
  font-family: "hn_roman";
}

@media screen and (min-height: 800px) {
  p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-height: 800px) {
  p {
    font-size: 16px;
    line-height: 22px;
  }
}


.container{
  position:relative;
}

.BSGen{
  text-align: left;
  vertical-align: top;
  margin-top: 6.74vh;
  position: absolute;
  left: 15%;
  width: 30%; 
  display: inline-block;
}

.BSGen input{
  font-family: "hn_thin" !important;
  font-size: 18px;
}

.BSGen .button{
  background-color: #eb652d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px 8px;
  cursor: pointer;
}

.BSGen .demo{
  padding: 8px 5px 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px 20px;
}

.wordCloud1{
  display: inline-block;
  position: absolute;
  margin-left: 0%;
  margin-top: 6.74vh;
  pointer-events: none;
}

@media screen and (min-height: 800px) {
  .quote{
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (max-height: 800px) {
  .quote {
    font-size: 13px;
    line-height: 20px;
  }
}

/*second page*/

.exp{
  position: absolute;
  left: 15%;
  text-align: left;
  margin-top: 6.74vh;
  width: 30%;
}

.scatter{
  position:absolute;
  right: 15%;
  margin-top: 6.74vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scatter text{
  alignment-baseline: central;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.keyQuote{
  font-family: "bauhaus";
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  color: darkgray;
}

.exp3{
  position: absolute;
  text-align: left;
  right: 15%;
  margin-top: 6.74vh;
  width: 30%;
}

.transErrors{
  position: absolute;
  text-align: left;
  right: 15%;
  margin-top:5%;
  width: 35%;
}

#sec04 .exp3 i{
  font-weight: bold;
}

.LynchImgs{
  margin-top:5%;
  display: flex;
  align-items: center;
}

.bookCover{
  height:25vh;
  width:10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../imgs/image-of-the-city.jpg");
}

.mentalMap{
  height: 25vh;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../imgs/mental-maps.jpg");
}

.interview{
  position: absolute;
  left: 15%;
  margin-top: 6.74vh;
  width: 35%;
}
.interview p{
  font-size: 14px;
}
.question{
  text-align: right;
}
.speech-bubble {
  color:white;
  text-align: left;
  background: #eb652dbf;
  padding: 10px;
  border-radius: .4em;
  position: relative;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #eb652dbf;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.bubbles{
  position:absolute;
  left: 15%;
  margin-top: 6.74vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bubbles select{
  margin-left: 1%;
  font-family: "hn_thin";
}
.bubbles select:first-of-type{
  position: absolute;
  top: 0;
  margin-top: 1%;
}

.bubbles select:last-of-type{
  position: absolute;
  margin-top: 4%;
}
.bubbles .radio{
  position:absolute;
  margin-left: 16%;
  width: 26%;
  color: black;
  font-family: "hn_thin" !important;
  font-size: 13px;
  text-align: left;
  background: #ffffffaa;
  padding: 8px;
}

.bubbles p{
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: left;
  font-family: "hn_thin";
}

.bubbles text{
  alignment-baseline: central;
}
